<%= form_for(@clip) do |f| %>
  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="clip-title">
    <%= f.label :title, "Clip title: " %>
    <%= f.text_field :title %>
  </div>

  <%= f.label :photo %>

  <div id="clip-description">
    <%= f.label :body, "Clip description: " %>
    <%= f.text_field :body, :cols => "30", :rows => "10" %>
  </div>

  <div id="photo">
    <%= f.label :photo, "Add photo: " %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
