<div class="row" id="clip-show">
  <p id="notice"><%= notice %></p>

  <p>
   This is the unique address you can use to share the clip wth your friends:
   <%= link_to "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
  </p>

  <span id="clip-title-perm"><strong><%= @clip.title %></strong></span>
  <%= image_tag @clip.photo %>
  <%= @clip.song %>
  <span id="song-player"><%= raw @e_video.first %></span>
  <%= @clip.body %>
</div>
