<h2>Forgot your password?</h2>

<%= form_for(@user, :as => @user, :url => password_path(@user), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Send me reset password instructions", class: "small button" %></div>
<% end %>

<%= render "devise/shared/links" %>
