<div id="clip-container">
  <div id="clip-info">
    <strong><u><%= link_to "#{@clip.title}", clip_path(@clip) %></u></strong>
    <br>
    <%= @clip.song %>
  </div>
  <%= image_tag @clip.photo.url(:large) %>
  <%= @clip.body %>
  <div id="clip-show-video"><%= raw @e_video.first %></div>
</div>
