<script>
  // Get element holding the video (embed or object)
  var player = document.getElementById("myYouTubePlayer");

  //Create a simple function and check if player exists
  function play() {
      if(player) {
          player.playVideo();
      }
  }
</script>


<% if current_page?(example_path) %>
 <div id="example-button">
  <%= link_to "See more", example_path, class: "button" %>
 <p>Ready? <%= link_to "Create your own!", new_clip_path %></p>
 </div>

<% end %>
<div class="clip-container">
  <div class="image-column" id="mobile-only">
    <%= image_tag @clip.photo.url(:large) %>
  </div>
  <div class="info-column">
    <strong><u id="clip-title"><%= link_to "#{@clip.title}", clip_path(@clip) %></u></strong><br>
    <div class="clip-song"><i><%= @clip.song %></i><br></div>
    <div class="clip-body"><%= @clip.body %></div><br>
    <a href="#" onclick="play()" class="button">Play Song</a>
    <div id="clip-show-video"><%= raw @e_video.first %></div>
  </div>
</div>
