<ul class="side-nav">
 <li><%= link_to "Home", root_url %></li>
 <li><%= link_to "Why", why_path %></li>
 <li><%= link_to "Create", new_clip_path %></li>
 <li><%= link_to "Examples", example_path %></li>
 <% if user_signed_in? %>
  <li><%= link_to "Your Clips", clips_path %></li>
 <% end %>
 <% if current_user.try(:admin?) %>
  <li><%= link_to "Admin Dashboard", admins_dashboard_path %></li>
 <% end %>
</ul>
