<!DOCTYPE html>
<html>
<head>
  <title>Clip.It - the easiest way to share the soundtrack of your memories</title>
  <link rel="shortcut icon" href="/rails.png" type="image/png">
  <link href="/stylesheets/normalize.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/header' %>




  <div class="row">
   <div class="large-1 columns" id="home-nav">

    <%= render 'layouts/menu' %>

   </div>
   <div class="large-11 columns">
    <%= yield %>
   </div>
  </div>


   <%= render 'layouts/footer' %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40517782-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-384694-W";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>


</body>
</html>
