<!DOCTYPE html>
<html>
<head>
  <title>Clip.It - the easiest way to share the soundtrack of your memories</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="row">
 <div class="large-1 columns" id="home-nav">
  <%= render 'layouts/menu' %>
 </div>
 <div class="large-11 columns">
  <%= yield %>
 </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
